body {
    margin: 0;
    text-align: center;
    background-color: #d6e6f2;
    font-family: 'Merriweather', serif;
    color: #769FCD
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    color: #769FCD;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #769FCD
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #769FCD
}
.top_container {
    background-color: #d6e6f2;
    position: relative;
    padding-top: 100px;
}
.middle_container {

}
.bottom_container {

}
a:link {
    color: #769FCD;
}
a:visited {
    color: #769FCD;
}
a:hover{
    color: #f7fbfc
}
.top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}