body {
    margin: 0;
    text-align: center;
}
h1 {
    margin-top: 0;
}
.top_container {
    background-color: #dbe2ef;
    size:
}
.middle_container {
    width: 200px;
    height: 200px;
    background-color: red;
}
.bottom_container {
    width: 200px;
    height: 200px;
    background-color: blue;
}