body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    color: #769FCD;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    line-height: 2.0;
    color: #769FCD;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #769FCD
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #769FCD
}
.top-container {
    background-color: #d6e6f2;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.middle-container {
    margin-top: 100px;

}
.profile{
    margin-bottom: 50px;
}
.bottom-container {

}
.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}
a:link {
    color: #769FCD;
}
a:visited {
    color: #769FCD;
}
a:hover{
    color: #f7fbfc
}
.cover-img {
    width: 60%;
    height: 60%;
}
.my-img {
    width: 200px;
    height: 200px
}
.skills-img-1 {
    width: 20%;
    height: 20%;
    float: left;
    margin-right: 30px;
}
.skills-img-2 {
    width: 20%;
    height: 20%;
    float: right;
    margin-left: 30px;
}
